<div id='login-form'>
  <%= form_tag login_path, { class: 'form-group' } do %>
    <%= label_tag :username %>
    <%= text_field_tag :username, nil, class: 'form-control form-field-login', required: true %>
    <br>
    <%= label_tag :password %>
    <%= password_field_tag :password, nil, class: 'form-control form-field-login', required: true %>
    <br>
    <div class='center-contents'>
      <%= submit_tag 'Login', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
<div class='center-contents'>
  <p>or</p>
  <%= button_to 'Login with Google', '/auth/google_oauth2', class: 'btn btn-primary' %>
<<<<<<< HEAD
  <%= button_to 'Login with Twitter', 'TODO', class: 'btn btn-primary' %>
=======
>>>>>>> 0c632e3cd28354975b2cdd0b0cb1d587eb85f254
</div>
