<h3>All Recordings</h3>
<% @recordings.each do |recording| %>
<<<<<<< HEAD

  <%= render partial: 'shared/audio_player', object: recording %>
  
=======
  <div class='recording-list'>
    <p>
      Title: <%= recording.title %><br>
      Landmark: <%= link_to recording.landmark.name, landmark_path(recording.landmark) %><br>
      Creator: <%= link_to recording.user.display_name, user_path(recording.user) %>
    </p>
    <%= render partial: 'shared/audio_player', object: recording %>
  </div>
>>>>>>> 75b46aee16f8431b4b28d085c1b4ff06652e9983
<% end %>
