<!--  List of Landmarks -->
<% unless @landmarks.nil? %>
  <% @landmarks.each do |landmark| %>
    <ul class="landmark_results">
      <li class="landmark_name">Name: <%= landmark.name %></li>
      <li class="landmark_rating">Rating: <%= landmark.rating %></li>
      <li class="landmark_types">Type(s): <%= landmark.types %></li>
      <li class="landmark_lat">Latitute: <%= landmark.lat %></li>
      <li class="landmark_lng">Longitude: <%= landmark.lng %></li>
      <li class="landmark_place_id">Place ID: <%= landmark.place_id %></li>
    </ul>
  <% end %>
<% end %>
