<h1><%= @landmark.name %></h1>
<h3><%= @landmark.category.capitalize %></h3>
<ul>
  <li>Phone: <%= @landmark.phone %></li>
  <li>Address: <%= @landmark.website %></li>
  <li>Website: <%= @landmark.address %></li>
</ul>


expect(page).to have_content(lm1.category)
expect(page).to have_content(lm1.phone_number)
expect(page).to have_content(lm1.website)
expect(page).to have_content(lm1.address)
