<% provide :head_tags do %>
  <meta name='turbolinks-visit-control' content='reload'>
  <script>
    document.addEventListener("DOMContentLoaded", function(){
      initMap(<%=facade.landmark.lat%>, <%=facade.landmark.long%>)
    });
  </script>
<% end %>

<div class="container-fluid">
  <div class="container">
    <h1><%= facade.landmark.name %></h1>
    <section class="picture">
      <%= image_tag facade.picture, class: "img-fluid img", style: "display: block; margin-left: auto; margin-right: auto; width: 80%;" %>
    </section>
  </div>

  <div class="container">
    <section class="attributes">
      <br>
      <p><b>Address: </b> <%= facade.landmark.address %></p>
      <% if facade.landmark.phone_number.nil? %>
        <p><b>Phone: </b>Not Available</p>
      <% else %>
        <p><b>Phone: </b> <%= facade.landmark.phone_number %></p>
      <% end %>
      <% if facade.landmark.website.nil? %>
      <p><b>Website: </b>Not Available</p>
      <% else %>
        <p><b>Website: </b> <%= link_to facade.landmark.website, facade.landmark.website, :target => "_blank" %></p>
      <% end %>
      <p><b>Category: </b> <%= facade.landmark_category %></p>
        <% if current_user? %>
          <div class="landmark-up-vote" id="landmark-<%= facade.landmark.id %>-vote">
            ⇧
            <%#= button_to "⇧", user_votes_path(votable_type: "landmark", votable_id: facade.landmark.id, type: "upvote"), class: "upvote" %>
          </div>
        <% end %>
        <div class="landmark-total-score">
          <p><b>Landmark's Rating: </b> <%= facade.landmark_total_score %></p>
        </div>
        <% if current_user? %>
          <div class="landmark-down-vote">
            <%= button_to "⇩", user_votes_path(votable_type: "landmark", votable_id: facade.landmark.id, type: "downvote"), class: "downvote" %>
          </div>
        <% end %>
      </div>
    </section>
  </div>

  <script>
    $(".landmark-up-vote").on('click',{},function(){
      var element_class = $(this).attr('class');
      var upDown = element_class.split("-")[1];
      var element_id = $(this).attr('id');
      var votable_type = element_id.split("-")[0];
      var votable_id = element_id.split("-")[1];
      $.get("/user/votes_x?type=" + upDown + "vote&votable_id=" + votable_id + "&votable_type=" + votable_type, function(data, status){
        alert("Data: " + data + "\nStatus: " + status);
      });
    });
  </script>

  <div class="container">
    <section class="add-recordings">
      <% if current_user %>
        <%= button_to "Upload new recording", new_user_landmark_recording_path(facade.landmark), method: :get, class: 'btn btn-primary' %>
      <% end %>
    </section>
  </div>

  <div class="container">
    <section class="recordings">
      <% unless facade.landmark_recordings.empty? %>
        <br>
        <h4>Recordings</h4>
        <% facade.landmark_recordings.each do |recording| %>
          <div class='recording-list'>
            <p>
              Title: <%= recording.title %><br>
              Creator: <%= link_to recording.user.display_name, user_path(recording.user) %>
            </p>
            <%= render partial: 'shared/audio_player', object: recording %>
          </div>
        <% end %>
      <% end %>
    </section>
  </div>

  <div class="container">
    <section class="tours">
      <h4>Tours</h4>
      <% if facade.landmark.tours.any? %>
        <ul>
          <% facade.landmark.tours.each do |tour| %>
            <div class='tour-list'>
              <li>
                <%= link_to tour.title, tour_path(tour) %>, Creator: <%= link_to tour.user.display_name, user_path(tour.user) %>
              </li>
            </div>
          <% end %>
        </ul>
      <% else %>
        <p>No tours include this landmark</p>
      <% end %>
    </section>
  </div>

  <div class="container">
    <br>
    <section class="map">
      <div id="map"></div>
    </section>
  </div>
</div>
