<h1 class='landmark-name'><%= @landmark.name %></h1>
<h3 class='category'><%= @landmark.category.capitalize %></h3>
<ul class='attributes'>
  <li>Phone: <%= @landmark.phone_number %></li>
  <li>Website: <%= @landmark.address %></li>
</ul>
<% if current_user %>
<br>
  <%= button_to "Upload new recording", new_landmark_recording_path(@landmark), method: :get %>
  <br>
  <br>
<% end %>
<h3>Recordings</h3>
<% @landmark.recordings.each do |recording| %>
  <%= render partial: 'shared/audio_player', object: recording %>
<% end %>
