<h1 class='landmark-name'><%= @landmark.name %></h1>
<h3 class='category'><%= @landmark.category.capitalize %></h3>
<ul class='attributes'>
  <li>Phone: <%= @landmark.phone_number %></li>
  <li>Website: <%= @landmark.address %></li>
  <li>Website: <%= @landmark.total_score(@landmark.id) %></li>
</ul>
<br>
<% if current_user %>
  <%= button_to "Upload new recording", new_landmark_recording_path(@landmark), method: :get %>
<% end %>
<br>
<br>
<% @landmark.recordings.each do |recording| %>
    <%= recording.total_score(recording.id) %>
  <%= render partial: 'shared/audio_player', object: recording %>
<% end %>
