<%= form_for @app_auth do |f| %>
  <% f.options[:html][:class] += ' form-group' %>
  <%= f.label :username %>
  <%= f.text_field :username, class: 'form-control form-field-register', required: true %>
  <br>
  <%= f.label :password %>
  <%= f.password_field :password, class: 'form-control form-field-register', required: true %>
  <br>
  <%= f.label 'Re-enter your password' %>
  <%= f.password_field :password_confirmation, class: 'form-control form-field-register', required: true %>
  <br>
  <div class='center-contents'>
    <%= f.submit 'Make an Account', class: 'btn btn-primary' %>
  </div>
<% end %>
<div class='center-contents'>
  <p>or</p>
  <%= button_to 'Login with Google', '/auth/google_oauth2', class: 'btn btn-primary' %>
  <%= button_to 'Login with Twitter', 'TODO', class: 'btn btn-primary' %>
</div>
