<h3>Tour List</h3>
<% if tour_list.contents.empty? %>
  <p>There are no landmarks currently in your tour list. Add some by visiting the landmark's show page and click on "Add to Tour List"</p>
<% else %>

  <ul id="landmarks">
    <% tour_list.landmarks.each do |landmark, quantity| %>
      <li id="landmark-<%= landmark.id %>" >
        <%= link_to landmark.name, landmark_path(landmark) %>
        <%= button_to "Remove Landmark", tour_list_landmark_path(landmark.id), method: :delete, class: 'btn btn-primary' %>
        <% if tour_recording.contents.value?(landmark.id) %>
          <%= button_to 'Select A Different Recording', tour_list_landmark_recording_path(tour_recording.contents.key(landmark.id).to_i, landmark_id: landmark.id), method: :delete, class: 'btn btn-primary' %>
        <% else %>
          <%= button_to 'Choose Existing Recording', tour_list_landmark_recordings_path(landmark), method: :get, class: 'btn btn-primary' %>
          <%= button_to 'Upload Recording', new_tour_list_landmark_recording_path(landmark), method: :get, class: 'btn btn-primary' %>
        <% end %>
      </li>
    <% end %>
  </ul>

  <%= form_tag tours_path do %>
    <label>Tour Name:</label><br>
    <input type="text" required id="tour_title" name="tour[title]" class="black-border">
    <%= render partial: 'shared/reqd_field_label' %>
    <input type="submit" value="Create Tour" class="btn btn-primary">
  <% end %>

  <%= button_to "Empty List", empty_tour_list_path, method: :delete, class: 'btn btn-primary' %>
<% end %>
