<h1>Tour List</h1>
<% if tour_list.contents.empty? %>
  <p>There are no landmarks currently in your tour list. Add some by visiting the landmark's show page and click on "Add to Tour List"</p>
<% else %>

  <h3>Total: <%= tour_list.total_count %></h3>


  <ul id="landmarks">
    <% tour_list.landmarks.each do |landmark, quantity| %>
      <li id="landmark-<%= landmark.id %>">
        <%= landmark.name %>
        <%= landmark.address %>
        <%= landmark.phone_number %>
        <%= landmark.category %>
        <%= landmark.website %>
        <%= button_to "Remove", tour_list_landmark_path(landmark.id), method: :delete %>
      </li>
    <% end %>
  </ul>

  <%= button_to "Create Tour", tours_path, method: :post %>
  <%= button_to "Empty List", empty_tour_list_path, method: :delete %>
<% end %>
