<h3>Content Creator: <%= @user.display_name %></h3>
<h4>Recordings</h4>
<% if @user.recordings.any? %>
  <% @user.recordings.each do |recording| %>
    <div class='recording-list'>
      <p>
        Title: <%= recording.title %><br>
        Landmark: <%= link_to recording.landmark.name, landmark_path(recording.landmark) %><br>
        <% if current_admin? %>
          <%= button_to "Delete", admin_delete_recording_path(recording), method: :delete %>
        <% end %>
      </p>
      <%= render partial: 'shared/audio_player', object: recording %>
    </div>
  <% end %>
<% else %>
  <p>No recordings uploaded yet</p>
<% end %>
<h4>Tours</h4>
<% if @user.tours.any? %>
  <ul>
    <% @user.tours.each do |tour| %>
      <div class='tour-list'>
        <li>
          <%= link_to tour.title, tour_path(tour) %>
        </li>
      </div>
    <% end %>
  <ul>
<% else %>
  <p>No tours hosted yet</p>
<% end %>
