<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="<%= landmarks_path %>">
    <img src="<%= image_path('oddio-logo-landscape.png')%>" id='navbar-brand-logo' class="d-inline-block align-top"">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="<%= landmarks_path %>">Map <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="<%= tours_path %>">Tours <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="<%= recordings_path %>">Recordings <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= root_path %>">About</a>
      </li>
      <% if current_user %>
        <% if current_user? %>
          <li class="nav-item">
            <a class="nav-link" href="<%= user_dashboard_path %>">Dashboard</a>
          </li>
        <% end %>
        <li class="nav-item">
          <a class="nav-link" href="<%= logout_path %>">Log Out</a>
        </li>
      <% else %>
        <li class="nav-item">
          <a class="nav-link" href="<%= login_path %>">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= register_path %>">Register</a>
        </li>
      <% end %>
    </ul>

    <% if current_page?(landmarks_path) %>
      <input class="mr-sm-2" type="search" placeholder="Enter a Place" aria-label="Search" id='searchTerm'>
      <button class="btn btn-outline-dark my-2 my-sm-0" onclick='searchLandmark()'>Search</button>
    <% end %>
  </div>
</nav>
