<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <%= link_to "Oddio", landmarks_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExample03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="<%= landmarks_path %>">Browse <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= root_path %>">About</a>
      </li>
      <li class="nav-item">
        <div class='search-field'>
          <%= form_tag landmarks_path, method: :get, class: 'form-inline my-2 my-lg-0' do %>
            <%= text_field_tag :query, 'Enter a location', class: 'form-control mr-sm-2' %>
            <%= submit_tag 'Search', class: 'btn btn-primary my-2 my-sm-0' %>
          <% end %>
        </div>
      </li>
      <% if current_user %>
        <li class="nav-item">
          <a class="btn btn-primary my-2 my-sm-0" href="<%= logout_path %>">Log Out</a>
        </li>
      <% else %>
        <li class="nav-item">
          <a class="btn btn-primary my-2 my-sm-0" href="<%= login_path %>">Login</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-primary my-2 my-sm-0" href="<%= register_path %>">Register</a>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
    