<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="<%= landmarks_path %>">Oddio</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="<%= landmarks_path %>">Browse <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= root_path %>">About</a>
      </li>
<<<<<<< HEAD
      <li class="nav-item">
        <!-- <div class='search-field'>
          <%= form_tag landmarks_path, method: :get, class: 'form-inline my-2 my-lg-0' do %>
            <%= text_field_tag :query, 'Enter a location', class: 'form-control mr-sm-2' %>
            <%= submit_tag 'Search', class: 'btn btn-primary my-2 my-sm-0' %>
          <% end %>
        </div> -->
      </li>
=======
>>>>>>> 64df66a3dc3de39feab58f371aed914622710862
      <% if current_user %>
        <li class="nav-item">
          <a class="nav-link" href="<%= logout_path %>">Log Out</a>
        </li>
      <% else %>
        <li class="nav-item">
          <a class="nav-link" href="<%= login_path %>">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= register_path %>">Register</a>
        </li>
      <% end %>
    </ul>
    <form class="form-inline my-2 my-lg-0 pull-right" action="<%= landmarks_path %>">
      <input class="form-control mr-sm-2" type="search" placeholder="Enter a Place" aria-label="Search">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
