<h3>All Tours</h3>
<% if @tours.any? %>
  <% @tours.each do |tour, total_score| %>
  <!--  TODO: use total_score instead of API call for each tour -->
    <div class='tour-list'>
      <%= render partial: 'shared/voting_arrows', object: tour %>
      <% if tour.landmarks.first %>
        <img src=<%= tour.landmarks.first.photo_reference %> alt="<%= tour.title %> thumbnail" class="tour-thumb">
      <% end %>
      <div class='tour-box'>
        <%= link_to tour.title, tour_path(tour), class: 'tour-info'%><br>
        Creator: <%= link_to tour.user.display_name, user_path(tour.user), class: 'tour-info' %><br>
      </div>
    </div>
  <% end %>
<% else %>
  <p>No tours added yet</p>
<% end %>
