<h3>All Tours</h3>
<% if @tours.any? %>
  <% @tours.each do |tour| %>
    <div class='tour-list'>
      <div class="votebox">
        <% if current_user? %>
          <div class="up-vote">
            <%= button_to "⇧", user_votes_path(votable_type: "tour", votable_id: audio_player.id, type: "upvote"), class: "upvote" %>
          </div>
        <% end %>
        <div class="total-score">
          Rating: <%= audio_player.total_score %>

        </div>
        <% if current_user? %>
          <div class="down-vote">
            <%= button_to "⇩", user_votes_path(votable_type: "tour", votable_id: audio_player.id, type: "downvote"), class: "downvote" %>
          </div>
        <% end %>
      </div>
      <p>
        <%= link_to tour.title, tour_path(tour) %><br>
        Creator: <%= link_to tour.user.display_name, user_path(tour.user) %><br>
      </p>
    </div>
  <% end %>
<% else %>
  <p>No tours added yet</p>
<% end %>
