<h1><%= @user.display_name %>'s Dashboard</h1>

<section class='user-information'>
  <p>First Name: <%= @user.first_name %></p>
  <p>Last Name: <%= @user.last_name %></p>
  <p>E-mail: <%= @user.email %></p>
  <p>Role: <%= @user.role %></p>
</section>

<section class='user-recordings'>
  <h3>My Recordings</h3>
  <% if @user.recordings.any? %>
    <% @user.recordings.each do |recording| %>
      <div class='recording-list'>
        <%= render partial: 'shared/voting_arrows', object: recording %>
        <div class='recording-box'>
          Title: <%= recording.title %><br>
          Landmark: <%= link_to recording.landmark.name, landmark_path(recording.landmark) %><br>
          <%= button_to "Delete", user_delete_recording_path(recording), method: :delete, class: 'btn btn-primary' %>
          <%= render partial: 'shared/audio_player', object: recording %>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>No recordings uploaded yet</p>
  <% end %>
</section>

<h3>Tours</h3>
<% if @user.tours.any? %>
  <% @user.tours.each do |tour| %>
    <div class='tour-list'>
      <%= render partial: 'shared/voting_arrows', object: tour %>
      <img src=<%= tour.landmarks.first.photo_reference %> alt="<%= tour.title %> thumbnail" class="tour-thumb">
      <div class='tour-box'>
        <%= link_to tour.title, tour_path(tour) %>
      </div>
    </div>
  <% end %>
<% else %>
  <p>No tours added yet</p>
<% end %>
